.main-container {
    text-align: center;
  }
  
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .lyrics-container{
    background-color: #161616;
    justify-content: center;
  
    min-height: 20vh;
    min-width: 40vw;
  
    font-size: calc(10px + 2vmin);
  }
  
  p{
    margin: 0;
  }
  
  .input_fields{
    float:left;
    min-width: 30vw;
    color:#161616;

  }